@model SERVE_ME_PROJECT.Models.ContactUsModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContactUsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Reply" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">رد</a>
    <a asp-action="Index" class="btn btn-sm btn-primary"> رجوع</a>
</div>
