@model SERVE_ME_PROJECT.Models.ServiceProviderModel

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutProvid";
}

<h1>Details</h1>

<div>
    <h4>ServiceProviderModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameShop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameShop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoRecord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoRecord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
