@model IEnumerable<SERVE_ME_PROJECT.Models.ServiceProviderModel>

@{
    Layout = "_LayoutProvid";
    ViewData["Title"] = "Index";
}

<h1>عرض معلومات مزود الخدمة </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameShop)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoRecord)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameShop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoRecord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
         </tr>
}
    </tbody>
</table>
