@model SERVE_ME_PROJECT.Models.GeneralSettingsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}

<h1>Details</h1>

<div>
    <h4>GeneralSettingsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteLogo)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/img/@Model.SiteLogo"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacebookLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwitterLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwitterLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstagramLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedInLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedInLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
